.header {
    position: relative; /* or fixed */
    top: 0;
    z-index: 100;
    /* Add other styling like background color, padding, etc. */
}

.highbar {
    display: flex;
    justify-content: flex-end;
    gap: 45px; /* Adjust the spacing between items */
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 30px;
    font-weight: bold;
}
  

.ECmark img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
    