.container {
    position: relative;
    width: min(1200px, 100%);
    height: calc(var(--vh, 1vh) * 100);
    margin: auto;
}

.slider {
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    /* 수직 가운데 정렬 */
}

.about {
    width: 55%;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: end;
    margin-right: auto;
}

.head h2 {
    color: black;
    font-size: 35px;
    padding: 0;
    margin: 0;
}

.head h1 {
    color: #51de74;
    padding: 0;
    margin: 0;
}

.about p {
    color: black;
    font-size: 18px;
    margin: 10px 0;
    word-break: keep-all;
    line-height: 1.5;
}