.Container {
    height: 9rem;
    width: 100%;
    padding: 0 var(--offset, 0);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.ECmark {
    grid-column: 1; /* ECmark를 첫 번째 컬럼에 배치 */
    width: 100px;
}

.main-header {
    height: 9rem;
    width: 100%;
    padding: 0 var(--offset, 0);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.tags {
    grid-column: 3; /* 메뉴 아이템들을 두 번째 컬럼에 배치 */
    display: flex;
    gap: 50px;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.headerContainerMaxWidth1200 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 첫 번째 컬럼에 ECmark, 두 번째 컬럼에 나머지 요소들을 배치 */
    justify-content: space-between;
    column-gap: 180px;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
}
