.Container {
    height: 9rem;
    width: 100%;
    padding: 0 var(--offset, 0);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.ECmark {
    width: 100px;
}

.main-header {
    height: 9rem;
    width: 100%;
    padding: 0 var(--offset, 0);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.main-header ul {
    display: flex;
    gap: 20px;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header li:hover a {
    color: aquamarine;
    transition: color 0.3s ease;
}

.headerContainerMaxWidth1200 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    padding: 0 40px;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}