.container {
    position: relative;
    width: min(1100px, 90%);
    height: calc(var(--vh, 1vh) * 90);
    margin: auto;
    margin-top: 6rem;
    flex-direction: column;
}

.membertitle {
    width: 100%;
    height: 40px;
    padding: 40px 0;
    font-size: var(--body1);
    margin-bottom: var(--gutter);
}

.membertitle h1 {
    margin: 0;
    color: #51de74;
    text-align: center;
    font-size: 40px;
}

.membercontents {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 30px;
}

@media (max-width: 900px) {
    .membercontents {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .membercontents {
        grid-template-columns: repeat(1, 1fr);
    }
}


.membercard {
    color: black;
    background-color: rgb(210, 231, 218);
    border-radius: 10px;
    padding: 15px;
    position: relative;
}

.headercontainer {
    display: flex;
    gap: 10px;
}

.headerName {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.skill {
    display: flex;
    gap: 10px;
}

.skills {
    padding: 3px 8px;
    background-color: #a2e2b2;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

.profilephoto {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    /* 동일한 높이 설정 */
    object-fit: cover;
    /* object-fit을 사용하여 강제로 원형으로 자름 */
}

.description {
    color: black;
    padding-top: 10px;
    font-size: 16px;
    word-wrap: break-word;
}