
.main {
    width:80%;
    margin-top: 6rem;
    color:black;
    background-color: rgb(255, 162, 0);
}
.form{
    width:100%;
    background-color: blue;
    padding: 10px, rgb(255, 255, 255);
}
.question{
    background-color: rgb(255, 255, 255);
}
.textbox{
    width: 80%;
}
