
.main {
    position: relative;
    width:min(1250px, 79.5%);
    margin:auto;
    align-items: center;
    flex-direction: column;
    background-size:cover;
    width:79.5%;
    margin-top: 10rem;
    color:black;
    background-color: rgb(255, 255, 255);
    border:5px solid rgb(0, 0, 0);
    border-radius: 1rem
}

.form{
    display: flex;
    margin:auto;
    flex-direction: column;
    align-items: center;
    position: flex;
    box-sizing: border-box;
    margin-bottom: 2rem;
    width:90%;
    background-color: rgb(169, 205, 162);
    border: 5px solid black;
}
.question{
    width:80%;
    align-items: center;
    margin-top:10px;
    font-size:x-large;
}
.textbox{
    vertical-align: top;
    width: 80%;
    height: calc(var(--vh, 1vh) * 60);
    margin-top:3rem;
    margin-bottom: 3rem;
    border:5px solid rgb(0, 0, 0);
    border-radius: 2rem;
}
input::placeholder{
    color:gray;
}


.ButtonContainer {
    position: relative;
    width:25%;
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admitButton {
    position: relative;
    color:black;
    font-size:x-large;
    border:5px solid rgb(0, 0, 0);
    border-radius: 1rem;
    width:80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .admitButton:hover{
    background-color: rgb(118, 197, 94);
  }