footer {
    margin: 0;
    display: flex;
    margin-top: auto;
    width: 100%;
    height: 200px;
    background-color: rgb(114, 189, 129);
    font-size: 16px;
    justify-content: center;
}

.wraper {
    width: min(1200px, 90%);
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    color: aliceblue
}

.madeMember {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}


.endlessCreation {
    font-size: 25px;
}

.designedby {
    position: absolute;
    bottom: 30%;
}


.copyright {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    overflow: auto;
}

.contact {
    position: relative;
    bottom: 0;
    display: flex;
    width: 30%;
    justify-content: right;
    text-align: right;
    flex-direction: column;
    gap: 5%;
}

.contact b {
    position: absolute;
    right: 10%;
    bottom: 35%;
}

.contactImageContainer {
    position: absolute;
    right: 10%;
    bottom: 10%;
    display: grid;
    width: 130px;
    grid-template-columns: repeat(3, 1fr);
    gap:10%;
}

.contactImage {
    width: 100%;
}

.contact ul {
    flex-direction: column;
}

@media (max-width: 900px) {
    footer {
        height: 150px;
    }

    .wraper {
        padding: 3% 0;
    }

    .madeMember {
        width: 65%;
    }
    
    
    .endlessCreation {
        font-size: 16px;
    }
    
    .designedby {
        font-size: 10px;
    }
    
    
    .copyright {
        font-size: 10px;
    }

    .contact {
        width: auto;
    }
    
    .contact b {
        font-size: 15px;
        white-space: nowrap; /* 줄 바꿈 방지 CSS 규칙 */
        right: 10%;
        bottom: 30%;
    }
    
    .contactImageContainer {
        width: 100px;
        right: 10%;
        bottom: 0;
    }
}